*, *::before, *::after {
    box-sizing: border-box;
}

/*100% width*/
.flex-grid {
    display: flex;
    width: 100%;
}
/*each box*/
.col {
/*    background-color: #eee;*/
    margin: 1rem 0;
}






/*
.row {
    margin: 3rem 0;
}
*/

/*
.col-6to4 {
    flex-wrap: wrap;
}
@media (min-width:597px) {
    .col-6to4 {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding-right: 3rem;
    align-items: center;
    }
    .col-6to4 span {
        display: flex;
        flex-wrap: wrap;
        text-align: right;
        justify-content: flex-end;
    }
}
*/


/*
.row .col-6to4{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    margin: 0;
    padding-right: 2rem;
}
.row .col-6to4 img{
    width: 60%;
    margin: 0;
}
.row span {
    width: 40%;
    text-align: right;
    padding-left: 3rem;
}
@media (min-width: 644px) {
    .row .col-6to4 img {
        width: 100%;
    }
    .row .col-6to4 {
        display: block;
        flex-wrap: wrap;
    }
}
*/

/*For 1 strip across: likely main nav and footer*/
.flex-grid .col {
    flex: 1;
}

.flex-grid-container {
    align-items: center;
    justify-content: center;
    height: auto;
    padding-left: 10%;
    width: 90%;
}
.flex-grid-twos {
    display: flex;
    justify-content: space-between;
}
.flex-grid-twos .col{
    width: 50%;
}

/*For 3 columns*/
.flex-grid-threes {
    display: flex;
    justify-content: space-between;
}
.flex-grid-threes .col {
/*    Under 33% to provide white space between columns*/
    width: 32.5%;
}

/*For 4 columns*/
.responsive-image {
    max-width: 100%;
    margin-bottom: 1rem;
    display: block;
}
.flex-grid-fours {
    display: flex;
    flex-wrap: wrap;
}
.flex-grid-fours .col {
    width: 100%;
}
@media (min-width: 500px) {
    .flex-grid-fours {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .flex-grid-fours .col {
        width: 50%;
    }
}
@media (min-width: 900px) {
    .flex-grid-fours, .flex-grid-row {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .flex-grid-fours .col {
        width: 25%;
    }
    .flex-grid-row {
        align-items: center;
    }
    .flex-grid-row .col-60 {
        flex-grow: 1;
    }
    .flex-grid-row .col-60 img{
        width: 100%;
    }
    .flex-grid-row .col-40 {
        width: 40%;
        text-align: right;
        padding-left: 2rem;
    }
}

.flex-grid-row .col-40 p{
    padding: 1rem 0;
}
