/*
COLORS

FONT COLOR (BROWN):
color: rgb(73,45,9);

BLUE: 
rgb(154, 171, 185);

BLUE ON HOVER:
rgb(25, 52, 70);

CORAL: 
rgb(226, 180, 154);

CORAL ON HOVER:
rgb(183, 164, 154);

TAN: rgb(210,180,140);
*/

*, *::before, *::after {
    box-sizing: border-box;
}

body {
/*    font-family: 'Hind Siliguri', sans-serif;*/
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02rem;
    color: rgb(73,45,9);
}

h2, h3, nav {
    font-weight: lighter;
    letter-spacing: 0.05em;
}

/* Interactive elements */

.button-submit {
    margin: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1 rem;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;


    background-color: rgb(226, 180, 154);
    -webkit-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
    box-shadow: none;
    border-radius: 0.2rem;
}
.button-submit:active, .button-submit:hover, .button-submit:focus{
    background-color: rgb(183, 164, 154);
}

.button-reset {
    margin: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;

/*  background-color: rgba(210,180,140,1);*/
    background-color: rgb(226, 180, 154);
  -webkit-transition: background-color, color 0.3s ease-out;
  transition: background-color, color 0.3s ease-out;
  box-shadow: none;
  border-radius: 0.2rem;
}
.button-reset:active, .button-reset:hover, .button-reset:focus{
    background-color: rgb(183, 164, 154);
}
.input-text {
    margin: 0;
    padding: 0.5rem;
    background-color: rgb(226, 180, 154);
    text-transform: uppercase;
    color: white;
    font-size: 1rem;
    border-radius: 0.2rem;
}
.input-text-box {
  width: 80%;
}

.unordered-list-interac-example {
  padding-bottom: 1rem;
}

/*Everything but the combined elements, basically...*/
h1, h2, h3, h4, ul, ol, p, code {
    margin: 3rem;
    font-weight: lighter;
}

h1 {
    font-weight: lighter;
    letter-spacing: 0.3em;
    margin: 3rem 0;
}

h2 {
    margin: 3rem 0;
    color: white;
    background-color: rgb(154, 171, 185);
    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,.1);
    padding: 1.5rem;
    border-radius: 0.2rem;
}

section code {
    background-color: #eee;
    padding: 1rem;
    display: block;
}



/*TEXT STYLING*/

.text-styling {
    list-style: none;
}
.h1-titles {
    margin: 0;
    padding: 0.5rem 0;
    color: rgb(154, 171, 185);
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 0.5rem solid rgb(154, 171, 185);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.h2-headings {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    color: rgb(154, 171, 185);
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    
    background-color: white;
/*    background-color: rgba(22, 143, 224,0.2);*/
/*    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,.3);*/
    box-shadow: none;
/*    border-radius: 0;*/
/*    border-bottom: 0.1rem solid rgb(22, 143, 224);*/
}
.h3-subtitles {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;
    
    border-bottom: 0.1rem solid rgb(226, 180, 154);
}
.a-in-text {
    margin: 0;
    padding: 0.1rem;
    font-size: 1rem;
/*    text-decoration: underline;*/
    text-decoration: none;
    border-bottom: 0.1rem solid rgb(154, 171, 185);
    color: rgb(154, 171, 185);
    transition: all linear 0.2s;
    font-weight: bold;
}
.a-in-text:active, .a-in-text:hover, .a-in-text:focus{
/*  color: black;*/
    color: rgb(25, 52, 70);
    border-bottom: 0.1rem solid rgb(25, 52, 70);
}
.p-paragraph {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* font-weight: bolder; */
}
.unordered-list-text-example {
  padding-bottom: 1rem;
}
.ordered-list-steps {
    padding: 1.5rem;
/*    border-bottom: 0.08rem solid rgba(22, 143, 224,0.5);*/
    border-bottom: 0.08rem solid rgb(154, 171, 185);
}
.unordered-list-item {
    padding:1rem;
    margin: 0.5rem 0;
    list-style: none;
/*    border-left: 0.2rem solid rgba(22, 143, 224,0.5);*/
    border-left: 0.2rem solid rgb(154, 171, 185);
}


/*END OF TEXT STYLING*/




/*COLOUR SWATCHES*/
.blue {
/*    background-color: rgb(22, 143, 224);*/
    background-color: rgb(154, 171, 185);
}
.blueHover {
    background-color: rgb(25, 52, 70);
}
.blue p, .blueHover p {
    color: white;
}
.coral {
    background-color: rgb(226, 111, 118);
}
.coralHover {
    background-color: rgb(183, 164, 154);
}
.coral p, .coralHover p {
    color: white;
}
/*END OF COLOUR SWATCHES*/






/*IMPORTED ICON FOR "CATEGORIES" IN MAIN NAV*/
.fa {
    font-size:
}



/*START OF MAIN NAV*/

.main-nav-bar {
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;

    /*    a drop shadow for the menu*/
    box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,.1);
/*    a magic number to see the menu at its greatest...*/
    margin-bottom: 5rem;
}

.main-nav-bar ul {
    list-style: none;
    text-transform: uppercase;
    display: flex;
}

.main-nav-bar a {
    text-decoration: none;
    color: rgb(73,45,9);
    display: block;
    padding: 1rem;
    transition: all linear 0.2s;
    border-radius: 0.2em;
}

.main-nav-bar a:active, .main-nav-bar a:hover, .main-nav-bar a:focus {
/*    background-color: rgb(210,180,140);*/
    background-color: rgb(154, 171, 185);
    color: white;
}

/*
li:hover > ul.main-nav-dropMenu li a{
    flex: 1;
    visibility: visible;
    display: flex;
    overflow: scroll;
}
*/
#main-nav-categories:hover > ul.main-nav-dropMenu li a{
    flex: 1;
    visibility: visible;
    display: flex;
}

li > ul.main-nav-dropMenu {
    position: absolute;
}

#main-nav-categories > ul.main-nav-dropMenu li a{
    position: relative;
    visibility: hidden;
}


/*END OF MAIN NAV*/






/*FIGURE STYLING*/

figcaption {
    letter-spacing: 0.08rem;
}
.responsive-image {
    max-width: 100%;
    margin-bottom: 1rem;
}
.multi-product-item {
    display: block;
}
.button-add {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    color: white;
    width: 100%;
    border: none;
    border-radius: 0.2rem;
/*    background-color: rgb(210,180,140);*/
    background-color: rgb(226, 180, 154);
    transition: background-color 0.3s ease;
}
.button-add:active, .button-add:hover, .button-add:focus {
    background-color: rgb(142, 114, 78);
    color: white;
}
.title-of-item {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
}
.brief-description {
    color: #555;
    font-weight: lighter;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

/*END OF FIGURE STYLING*/
