/*
BROWN:
color: rgb(73,45,9);

BLUE:
rgb(154, 171, 185);
BLUE ON HOVER:
rgb(25, 52, 70);

CORAL:
rgb(226, 180, 154);
CORAL ON HOVER:
rgb(183, 164, 154);

TAN: rgb(210,180,140);
*/

/* GENERAL STYLING --------------------------------------
---------------------------------------------------------
*/
*, *::before, *::after {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02rem;
    color: #333;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3, nav {
    font-weight: lighter;
    letter-spacing: 0.07em;
}
h4, ol, code {
    margin: 2rem 0;
    font-weight: lighter;
}
h1 {
    font-weight: lighter;
    letter-spacing: 0.3em;
    background-color: white;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
h1:active, h1:hover, h1:focus {
    color: rgb(25, 52, 70);
    border-color: rgb(25, 52, 70);
}
h2 {
    color: rgb(154, 171, 185);
    margin-top: 3rem;
    margin-bottom: 1rem;
    display: block;
    width: 100%;
    font-weight: normal;
}
h3 {
    background-color: #eee;
    padding: 2rem 1rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
h4 {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #888;
}
section code {
    background-color: #eee;
    padding: 1rem;
    display: block;
}
section figure {
   margin: 2rem 0;
   padding: 0;
}
section figure img {
   width: 100%;
}

/*User input text field*/
input[type=text], select {
    display: inline-block;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    font-weight: normal;
}
form {
    margin: 1rem 0;
}
form input {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
    color: #777
}
.form-radio-answer {
   display: inline-block;

	box-sizing: border-box;
	margin: 1rem;
	/* height: 3rem; */
	font-size: 5rem;
	text-align: center;
}
label, select {
    color: #888;
    font-weight: normal;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
}
select {
    height: 2.5rem;
}

footer {
    background-color: #eee;
    margin-top: 5rem;
}
/* END OF GENERAL STYLING --------------------------------------
---------------------------------------------------------
*/











/* PARALLAX IMAGE --------------------------------------
---------------------------------------------------------
*/
/* Start of Jordan Yep credits
taken from a classmate: Jordan Yep via jordanyep.com */
.landing-img {
   background-image: url(../img/landingimg.jpg);
   /* Is there a way to create alts through this? */
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   background-attachment: fixed;
   width: 100%;
   height: 60vh;

   display: flex;
   justify-content: center;
   align-items: center;

    color: #272727;
    letter-spacing: 0.9px;
    text-align: center;

}
/* end of Jordan Yep credits */
.landing-img-caption {
   padding: 2rem;
   background-color: rgba(255, 255, 255, 0.75);
   text-transform: uppercase;
   font-weight: normal;
}
/* END OF PARALLAX IMAGE --------------------------------------
---------------------------------------------------------
*/






/* NAV BAR --------------------------------------
---------------------------------------------------------
*/
header {
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,.1);
    display: block;
    position: relative;
    width: 100%;
    z-index: 100;
}

.logo {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: rgb(154, 171, 185);
    font-size: 1.3rem;

    border: 0.5rem solid rgb(154, 171, 185);
    padding: 0.5rem 1rem;
    background-color: #fff;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.nav-item-links {
    margin: 0;
    margin-right: 5%;
    /* padding: 0; */
    list-style: none;
    align-items: center;
    font-weight: normal;
}

.nav-item-links > li {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    height: auto;
    position: relative;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    transition: all linear 0.3s;
}

    .nav-item-links > li > a:not(.logo-background):active,
    .nav-item-links > li > a:not(.logo-background):hover,
    .nav-item-links > li > a:not(.logo-background):focus{
    /*				background: rgba(58,162,173,1);*/
        background-color: rgb(154, 171, 185);
/*        background-color: rgb(226, 180, 154);*/
        color: #fff;
    }
    .logo-background:hover > .logo,
    .logo-background:active > .logo,
    .logo-background:focus > .logo {
        border-color: rgb(82, 115, 142);
        color: rgb(82, 115, 142);
    }

.nav-item-links > li a + div {
/*                dropdown menu: "bulbs"*/
    display: none;
    position: absolute;
    width: 100%;
    background-color: #fff;
/* 				border-radius: 0 0 0.2rem 0.2rem; */
    box-shadow: 0 0.1rem 0.1rem 0 rgba(0,0,0,0.2);
    font-size: 1rem;
}

    .nav-item-links > li:hover a + div {
    /*                    aka when you hover over "bulbs", show the submenu*/
        display: block;
        z-index: 110;
    }

.nav-item-links > li a + div > .nav-dropdown {
    list-style-type: none;
}

    .nav-item-links > li a + div > .nav-dropdown > li {
        margin: 0;
        padding: 0;
    }

    .nav-item-links > li a + div > .nav-dropdown > li > a {
/*							the actual dropdown menu*/
        display: block;
        padding: 0.75rem 0.5rem;

        color: #555;
        font-size: 0.75rem;
        letter-spacing: 0.08rem;
        text-decoration: none;
        text-transform: uppercase;

        -webkit-transition: all ease 0.3s;
        -moz-transition: all ease 0.3s;
        transition: all ease 0.3s;
    }

        .nav-item-links > li a + div > .nav-dropdown > li:hover > a {
/*                                hovering over a dropdown item*/
            background-color: rgb(154, 171, 185);
            color: #fff;
        }

.nav-item-links > li > a {
/*                the anchor items on the menu*/
    display: flex;
    padding: 0.5rem 2rem;

    color: #555;
    font-size: 1rem;
    letter-spacing: 1px;
    text-decoration: none;
/*				text-shadow: 0 1px 1px rgba(0,0,0,.1);*/
    text-transform: uppercase;
    border-radius: 0.2rem;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
    .nav-item-links > li > a.logo-background {
        padding: 0 2rem;
    }

#nav-toggle {
	display: block;
    width: 100%;
    padding: 1em 1.25em;
    visibility: visible;

	color: #000;
	text-decoration: none;
	text-align: left;

    background-color: #ddd;
    border: 0;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
	transition: all ease 0.3s;

}

    #nav-toggle:active,
    #nav-toggle:hover,
    #nav-toggle:focus {
        background-color: #777;
    }
/* END OF NAV BAR --------------------------------------
---------------------------------------------------------
*/











/* ICONS --------------------------------------
---------------------------------------------------------
*/
/*IMPORTED ICON FOR "BULBS" IN MAIN NAV*/
.fa .fa-angle-down{
    font-size: 1rem;
}









/*START OF FOOTER STYLING FROM
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_social_media_buttons. Again, "fa" must be used in order to access the service listed in the <link> of the HTML <head> seciton
*/
a.fa {
    padding: 2rem;
    font-size: 1.3rem;
    /* width: 100%; */
    text-align: center;
    text-decoration: none;
    color: rgb(154, 171, 185);

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}

.fa:active, .fa:hover, .fa:focus {
    color: rgb(25, 52, 70);
}
/* END OF ICONS --------------------------------------
---------------------------------------------------------
*/







/* FOOTER --------------------------------------
---------------------------------------------------------
*/
.footer-list {
    display: block;
    list-style: none;
    padding-right: 10%;
}
.footer-list h3 {
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: #999;
    text-transform: uppercase;
/*<<<<<<< HEAD*/
    padding: 0.3rem 0;
}
.footer-list li {
/*    border-left: 0.05rem solid rgba(25, 52, 70, 0.4);*/
    padding: 0.8rem 0;
/*=======*/
    padding: 1rem 0;
}
.footer-list li {
/*    border-bottom: 0.03rem solid rgba(25, 52, 70, 0.8);*/
    padding: 1rem 0;
/*>>>>>>> myCart*/
    text-align: center;
}
.footer-list a {
    border-bottom: 0.03rem solid rgba(25, 52, 70, 0.4);
    text-decoration: none;
    border-bottom: 0.03rem solid rgba(25, 52, 70, 0.8);
    color: grey;
    font-size: 0.8rem;
    letter-spacing: 0.08rem;
    text-align: center;
    text-transform: uppercase;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.footer-list a:active,
.footer-list a:hover,
.footer-list a:focus {
    color: rgb(25, 52, 70);
}

.copyrights, .copyrights a {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 1rem;
   align-items: top;

   font-size: 0.8rem;
   text-align: center;
   color: rgb(154, 171, 185);
   text-decoration: none;

   -webkit-transition: all ease 0.3s;
   -moz-transition: all ease 0.3s;
   transition: all ease 0.3s;
}
.copyrights a:active,
.copyrights a:hover,
.copyrights a:focus {
   color: rgb(25, 52, 70);
}
/* END OF FOOTER --------------------------------------
---------------------------------------------------------
*/
















/* MY CART PAGE --------------------------------------
---------------------------------------------------------
*/
/* .myCart-summary {
   background-color: #fff;
   position: fixed;
} */
.myCart-summary h3 {
    text-align: left;
}
.myCart-summary p {
    font-weight: normal;
    color: rgb(154, 171, 185);
    margin-top: 2rem;
    /* position: fixed; */
}
.myCart-summary ul{
    list-style: none;
    list-style-type: none;
    padding: 0;
    text-transform: uppercase;
}
.myCart-summary li {
    padding: 1.5rem 0;
    border-bottom: 0.08rem solid rgba(154, 171, 185, 0.5);
}
.myCart-summary .item-name {
    text-align: left;
    letter-spacing: 0.1rem;
    font-weight: normal;
}
.myCart-summary .price {
    text-align: right;
}
/* END OF MY CART PAGE --------------------------------------
---------------------------------------------------------
*/












/* INTERACTIVE ELEMENTS --------------------------------------
---------------------------------------------------------
*/
.button-submit {
    margin: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1 rem;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;

    background-color: rgb(226, 180, 154);
    box-shadow: none;
    border-radius: 0.2rem;

    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
.button-submit:active, .button-submit:hover, .button-submit:focus{
    background-color: rgb(183, 164, 154);
}

.button-reset {
    margin: 0;
    padding: 0.8rem;
    display: flex;
    justify-content: center;

    color: white;
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1rem;

    background-color: #ddd;
    box-shadow: none;
    border-radius: 0.2rem;

    -webkit-transition: all ease-out 0.5s;
    -moz-transition: all ease-out 0.5s;
    transition: all ease-out 0.5s;
}
.button-reset:active, .button-reset:hover, .button-reset:focus{
    background-color: #eee;
    color: rgb(25, 52, 70);;
}

.unordered-list-interac-example {
  padding-bottom: 1rem;
}
/* END OF INTERACTIVE ELEMENTS --------------------------------------
---------------------------------------------------------
*/












/* TEXT STYLING --------------------------------------
---------------------------------------------------------
*/
.text-styling {
    list-style: none;
}
/* .h1-titles {
    padding: 0.5rem 1rem;
    color: rgb(154, 171, 185);
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5rem;
    border: 0.5rem solid rgb(154, 171, 185);
    width: 10rem;
    max-height: 4rem;
} */

.h2-headings {
    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: center;

    color: rgb(154, 171, 185);
    font-size: 1.3rem;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1rem;

    background-color: white;
/*    background-color: rgba(22, 143, 224,0.2);*/
/*    box-shadow: 0 0.5em 0.5em 0 rgba(0,0,0,.3);*/
    box-shadow: none;
/*    border-radius: 0;*/
/*    border-bottom: 0.1rem solid rgb(22, 143, 224);*/
}
.h3-subtitles {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bolder;
    letter-spacing: 0.2rem;

    border-bottom: 0.1rem solid rgb(226, 180, 154);
}
.a-in-text {
    margin: 0;
    padding: 0.1rem;
    font-size: 1rem;
/*    text-decoration: underline;*/
    text-decoration: none;
    border-bottom: 0.1rem solid rgb(154, 171, 185);
    color: rgb(154, 171, 185);
    font-weight: bold;

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.a-in-text:active, .a-in-text:hover, .a-in-text:focus{
/*  color: black;*/
    color: rgb(25, 52, 70);
    border-bottom: 0.1rem solid rgb(25, 52, 70);
}
.p-paragraph {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  /* font-weight: bolder; */
}
.unordered-list-text-example {
  padding-bottom: 1rem;
}
.ordered-list-steps {
    padding: 1.5rem;
/*    border-bottom: 0.08rem solid rgba(22, 143, 224,0.5);*/
    border-bottom: 0.08rem solid rgb(154, 171, 185);
}
.unordered-list-item {
    padding:1rem;
    margin: 0.5rem 0;
    list-style: none;
/*    border-left: 0.2rem solid rgba(22, 143, 224,0.5);*/
    border-left: 0.2rem solid rgb(154, 171, 185);
}
.location-address {
   margin: 2rem 0;
   padding: 2rem;
   text-align: center;
   align-items: center;
   border: 0.1rem solid rgb(154, 171, 185);
}
/* END OF TEXT STYLING --------------------------------------
---------------------------------------------------------
*/












/* COLOUR SWATCHES --------------------------------------
---------------------------------------------------------
*/
.blue {
/*    background-color: rgb(22, 143, 224);*/
    background-color: rgb(154, 171, 185);
}
.blueHover {
    background-color: rgb(25, 52, 70);
}
.blue p, .blueHover p {
    color: white;
}
.coral {
    background-color: rgb(226, 111, 118);
}
.coralHover {
    background-color: rgb(183, 164, 154);
}
.coral p, .coralHover p {
    color: white;
}
/* END OF COLOUR SWATCHES --------------------------------------
---------------------------------------------------------
*/











/* FIGURE STYLING --------------------------------------
---------------------------------------------------------
*/
figcaption {
    letter-spacing: 0.05rem;
}
.multi-product-item {
    display: block;
}
.button-buy {
    margin-top: 1.5rem;
    padding: 0.5rem 1rem;
    display: inline-block;
    width: 50%;

    color: white;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    border: none;
    border-radius: 0.2rem;
    background-color: rgb(226, 180, 154);

    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    transition: all ease 0.3s;
}
.button-buy:active, .button-buy:hover, .button-buy:focus {
    background-color: rgb(142, 114, 78);
    color: white;
}
/* .button-buy a:active, .button-buy a:hover, .button-buy a:focus {
  color: white;
} */
/* .button-buy {
  text-decoration: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 100%;
  height: 100%;
} */
.title-of-item {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
}
.brief-description {
    color: #555;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
}

.newSelection .col-40 .title-of-item {
    font-size: 1.3rem;
}
.newSelection .col-40 .brief-description {
    font-size: 1rem;
}

.multiProductBannerItem .col-40 .title-of-item {
    font-size: 1.3rem;
}
.multiProductBannerItem .brief-description {
    font-size: 1rem;
}

.singleProductShowcaseItem .col-40 .title-of-item {
    font-size: 1.3rem;
}
.singleProductShowcaseItem .brief-description, .singleProductShowcaseItem .type-of-item, .singleProductShowcaseItem .item-reference {
    font-size: 0.75rem;
}
.singleProductShowcaseItem .price-tag {
  font-size: 1.3rem;
  font-weight: bold;
  margin: 0.2rem;
}
.singleProductShowcaseItem .type-of-item, .singleProductShowcaseItem .item-reference  {
    color: #555;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    margin: 0.2rem;
}
/* END OF FIGURE STYLING --------------------------------------
---------------------------------------------------------
*/
